<img src="Fruits_Classification\fruits.jpg" style="height: 20rem; object-fit: cover; width: 100%;" alt ="fruit image">

<div style="text-align:center; border-radius:15px; padding:15px; color:white; margin:0; font-family: 'Orbitron', sans-serif; background: #022d49ff; background: #11001C; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); overflow:hidden; margin-bottom: 1em;">
  <div style="font-size:150%; color:#FEE100"><b>Fruit Classification Data Analysis</b></div>
  <div>This notebook was created by  <a href="https://www.kaggle.com/adeoyemary" style="color:#6666FF">Mary may</a></div>
</div>

## DATA INGESTION

In [2]:
# importing all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os 
import seaborn as sns
from zipfile import ZipFile

In [3]:
path = r"C:\Users\user322\Desktop\Machine_Learning\Fruits_Classification\archive.zip"

In [4]:
with ZipFile(path, "r") as f:
    f.printdir()

File Name                                             Modified             Size
fruit_classification_dataset.csv               2025-10-30 15:45:34       408671

In [5]:
with ZipFile(path, "r") as f:
    with f.open("fruit_classification_dataset.csv") as file: 
        df= pd.read_csv(file)

In [6]:
df.head(5)

   size (cm)  shape  weight (g)  avg_price (₹)   color  taste     fruit_name
0       25.4  round      3089.2          137.1   green  sweet     watermelon
1       24.6  round      3283.9          163.8   green  sweet     watermelon
2        7.8  round       319.0           91.3   green  sweet  custard apple
3       20.0   oval      1607.0           85.7  orange  sweet         papaya
4       10.2   long       131.5           37.8  yellow  sweet         banana

## PREMILARY DATA ANALYSIS

In [7]:
df.columns

Index(['size (cm)', 'shape', 'weight (g)', 'avg_price (₹)', 'color', 'taste',
       'fruit_name'],
      dtype='object')

In [8]:
df.shape

(10000, 7)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size (cm)      10000 non-null  float64
 1   shape          10000 non-null  object
 2   weight (g)     10000 non-null  float64
 3   avg_price (₹)  10000 non-null  float64
 4   color          10000 non-null  object
 5   taste          10000 non-null  object
 6   fruit_name     10000 non-null  object
dtypes: float64(3), object(4)
memory usage: 547.0+ KB

In [15]:
df.duplicated().sum()

np.int64(246)

In [18]:
df= df.drop_duplicates()

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.shape

(9754, 7)

## EXPLORATORY DATA ANALYSIS

DESCRIPTIVE DATA ANALYSIS

In [23]:
df.describe().T.style.background_gradient()