# Data Ingestion

In [ ]:
# import all necessary libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
from zipfile import ZipFile

In [ ]:
path= r"C:\Users\User\Desktop\Machine_Learning\ml\customer behaviour\archive.zip"

In [ ]:
with ZipFile(path, "r")as f:
    f.printdir()

File Name                                             Modified             Size
DATASET_README.md                              2025-11-09 07:40:30         5781
ecommerce_customer_behavior_dataset.csv        2025-11-09 07:40:30       563179
ecommerce_customer_behavior_dataset_v2.csv     2025-11-09 07:40:30      1959560
ecommerce_dataset_readme_v_2.md                2025-11-09 07:40:30         6592

In [ ]:
with ZipFile(path, "r") as f:
    with f.open("ecommerce_customer_behavior_dataset.csv") as file:
        df= pd.read_csv(file)

In [ ]:
df.head(5)

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4

# Premilary Data Analysis

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Date', 'Age', 'Gender', 'City',
       'Product_Category', 'Unit_Price', 'Quantity', 'Discount_Amount',
       'Total_Amount', 'Payment_Method', 'Device_Type',
       'Session_Duration_Minutes', 'Pages_Viewed', 'Is_Returning_Customer',
       'Delivery_Time_Days', 'Customer_Rating'],
      dtype='object')

In [ ]:
df.dtypes

Order_ID                     object
Customer_ID                  object
Date                         object
Age                           int64
Gender                       object
City                         object
Product_Category             object
Unit_Price                  float64
Quantity                      int64
Discount_Amount             float64
Total_Amount                float64
Payment_Method               object
Device_Type                  object
Session_Duration_Minutes      int64
Pages_Viewed                  int64
Is_Returning_Customer          bool
Delivery_Time_Days            int64
Customer_Rating               int64
dtype: object

In [ ]:
df.shape

(5000, 18)

In [ ]:
df.duplicated().sum()

np.int64(0)

# Exploratory Data Analysis

Descriptive Data Analysis

In [ ]:
df.info

<bound method DataFrame.info of         Order_ID Customer_ID        Date  Age  Gender      City  \
0     ORD_001337  CUST_01337  2023-01-01   27  Female     Bursa
1     ORD_004885  CUST_04885  2023-01-01   42    Male     Konya
2     ORD_004507  CUST_04507  2023-01-01   43  Female    Ankara
3     ORD_000645  CUST_00645  2023-01-01   32    Male  Istanbul
4     ORD_000690  CUST_00690  2023-01-01   40  Female  Istanbul
...          ...         ...         ...  ...     ...       ...
4995  ORD_001048  CUST_01048  2024-03-26   18  Female     Izmir
4996  ORD_001051  CUST_01051  2024-03-26   27    Male     Adana
4997  ORD_003543  CUST_03543  2024-03-26   45  Female   Antalya
4998  ORD_004443  CUST_04443  2024-03-26   41  Female  Istanbul
4999  ORD_000902  CUST_00902  2024-03-26   30  Female     Konya

     Product_Category  Unit_Price  Quantity  Discount_Amount  Total_Amount  \
0                Toys       54.28         1             0.00         54.28
1                Toys      244.90         1             0.00        244.90
2                Food       48.15         5             0.00        240.75
3         Electronics      804.06         1           229.28        574.78
4              Sports      755.61         5             0.00       3778.05
...               ...         ...       ...              ...           ...
4995           Beauty      130.35         1            27.30        103.05
4996           Beauty       71.55         1             0.00         71.55
4997             Food       39.38         1             5.27         34.11
4998          Fashion      171.19         1             0.00        171.19
4999            Books       84.30         4            21.72        315.48

        Payment_Method Device_Type  Session_Duration_Minutes  Pages_Viewed  \
0           Debit Card      Mobile                         4            14
1          Credit Card      Mobile                        11             3
2          Credit Card      Mobile                         7             8
3          Credit Card      Mobile                         8            10
4     Cash on Delivery     Desktop                        21            10
...                ...         ...                       ...           ...
4995     Bank Transfer      Mobile                        17            10
4996        Debit Card      Mobile                        13             9
4997    Digital Wallet      Mobile                        38            10
4998       Credit Card      Mobile                        20            12
4999        Debit Card     Desktop                         8             9

      Is_Returning_Customer  Delivery_Time_Days  Customer_Rating
0                      True                   8                5
1                      True                   3                3
2                      True                   5                2
3                     False                   1                4
4                      True                   7                4
...                     ...                 ...              ...
4995                  False                   9                1
4996                   True                   6                4
4997                   True                   5                4
4998                   True                   5                4
4999                   True                   5                5

[5000 rows x 18 columns]>

In [ ]:
df.describe().T.style.background_gradient()

In [ ]:
categorical_col= df.select_dtypes(include='object').columns

In [ ]:
df

,Order_ID,Customer_ID,Date,Age,Gender,City,Product_Category,Unit_Price,Quantity,Discount_Amount,Total_Amount,Payment_Method,Device_Type,Session_Duration_Minutes,Pages_Viewed,Is_Returning_Customer,Delivery_Time_Days,Customer_Rating
0,ORD_001337,CUST_01337,2023-01-01,27,Female,Bursa,Toys,54.28,1,0.00,54.28,Debit Card,Mobile,4,14,True,8,5
1,ORD_004885,CUST_04885,2023-01-01,42,Male,Konya,Toys,244.90,1,0.00,244.90,Credit Card,Mobile,11,3,True,3,3
2,ORD_004507,CUST_04507,2023-01-01,43,Female,Ankara,Food,48.15,5,0.00,240.75,Credit Card,Mobile,7,8,True,5,2
3,ORD_000645,CUST_00645,2023-01-01,32,Male,Istanbul,Electronics,804.06,1,229.28,574.78,Credit Card,Mobile,8,10,False,1,4
4,ORD_000690,CUST_00690,2023-01-01,40,Female,Istanbul,Sports,755.61,5,0.00,3778.05,Cash on Delivery,Desktop,21,10,True,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,ORD_001048,CUST_01048,2024-03-26,18,Female,Izmir,Beauty,130.35,1,27.30,103.05,Bank Transfer,Mobile,17,10,False,9,1
4996,ORD_001051,CUST_01051,2024-03-26,27,Male,Adana,Beauty,71.55,1,0.00,71.55,Debit Card,Mobile,13,9,True,6,4
4997,ORD_003543,CUST_03543,2024-03-26,45,Female,Antalya,Food,39.38,1,5.27,34.11,Digital Wallet,Mobile,38,10,True,5,4
4998,ORD_004443,CUST_04443,2024-03-26,41,Female,Istanbul,Fashion,171.19,1,0.00,171.19,Credit Card,Mobile,20,12,True,5,4
4999,ORD_000902,CUST_00902,2024-03-26,30,Female,Konya,Books,84.30,4,21.72,315.48,Debit Card,Desktop,8,9,True,5,5

In [ ]:
for col in categorical_col:
    df[col].value_counts()
    print(df[col].value_counts())
    print("="*30)
    print()

Order_ID
ORD_001337    1
ORD_004885    1
ORD_004507    1
ORD_000645    1
ORD_000690    1
             ..
ORD_001048    1
ORD_001051    1
ORD_003543    1
ORD_004443    1
ORD_000902    1
Name: count, Length: 5000, dtype: int64
==============================

Customer_ID
CUST_01337    1
CUST_04885    1
CUST_04507    1
CUST_00645    1
CUST_00690    1
             ..
CUST_01048    1
CUST_01051    1
CUST_03543    1
CUST_04443    1
CUST_00902    1
Name: count, Length: 5000, dtype: int64
==============================

Date
2023-07-14    22
2024-01-05    21
2023-02-28    19
2023-10-11    19
2023-08-21    19
              ..
2023-11-04     4
2023-09-04     4
2023-07-02     4
2023-05-13     4
2023-01-18     4
Name: count, Length: 451, dtype: int64
==============================

Gender
Female    2492
Male      2435
Other       73
Name: count, dtype: int64
==============================

City
Istanbul     1284
Ankara        735
Izmir         600
Bursa         496
Adana         378
Antalya       374
Gaziantep     349
Konya         317
Kayseri       257
Eskisehir     210
Name: count, dtype: int64
==============================

Product_Category
Sports           667
Electronics      624
Fashion          622
Beauty           621
Home & Garden    621
Food             619
Books            616
Toys             610
Name: count, dtype: int64
==============================

Payment_Method
Credit Card         2012
Debit Card          1265
Digital Wallet       965
Bank Transfer        510
Cash on Delivery     248
Name: count, dtype: int64
==============================

Device_Type
Mobile     2795
Desktop    1711
Tablet      494
Name: count, dtype: int64
==============================